.loading-screen {
  background: linear-gradient(90deg, #ffba8f, #ff7300, #7bdcff, #4481c3);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	transform: translate3d(0, 0, 0);
  font-size: 50px;
  text-align: center;
  color: white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
